nav {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    img {
      width: 64px;
      height: 64px;
    }
  
    div {
      width: 40%;
      display: flex;
      align-items: center;
      gap: 10px;
  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          color: red;
        }
      }

      img{
        width: 16px;
        height: 16px;
      }
    }
  }
  